 .appContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }

 .form{
    /* margin-top: 1rem;  */

    margin-bottom: 1rem;
    margin-left:500px

 }
 .App{
   
   
   background-color: black;
 }

.input{
   padding: 4px;
   
}

 .submit{
       
     padding: 8px;
     margin: 8px;
     border-radius: 10%;
     background-color: rgb(161, 161, 255);

 }